.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  max-width: 300px;
  min-width: 200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
